.padding-horizontal {
    padding-left: 16px;
    padding-right: 16px;
    --padding-start: 16px;
    --padding-end: 16px;
}

.desktop-responsive {
    max-width: var(--breakpoint);
    margin: auto;
}