.classrooms {
    header {
        margin-top: 32px;
        height: 50px;
        background: var(--ion-color-primary);
        display: flex;
        align-items: center;
        position: relative;

        ion-fab-button {
            position: absolute;
            right: 16px;
            bottom: -25px;
            z-index: 2;
        }
    }
    section {
        padding-top: 32px;
    }
}
